input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

h2.title {
	color: #F60;
}

*:focus {outline: none;}

form input:focus {
	background: #fff; 
    border:1px solid #F60; 
    box-shadow: 0 0 3px #aaa; 
}

form input {
	border-radius: 10px;
}

label {
	padding-right:10px;
}