header{
	text-align: center;
	padding:5px;
}
.navbar-form{
    text-align: center;
}

/* part login */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-primary{
    color: #fff;
    background-color:#f0ad4e;
    border-color: #eea236;
}
.btn-primary:hover{
    color: #fff;
    background-color:#eea236;
    border-color: #eea236;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.message-error{
    color: red;
    text-align: right;
}
