@media (min-width: 768px) {
.container {
	width: 750px;
	}
}

@media (min-width : 992px) {
.container {
	width: 970px;
	}
}

@media (min width : 1170px) {
.container {
	width: 1170px;
	}
}

.container {
	padding-top: 25px;
	padding-bottom: 75px;
}

#displayType img {
	border: 2px solid #F60;
	border-radius: 10px;
}

#titleLastEquip {
	color: #F60;
	text-align: center;
	border: 2px solid #F60;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#displayType { 
     text-align: center;
}

table {
  padding-top: 10px;
  min-height: 100%;
}

table th, table td {
  text-align: center;
}

